.todos {
    margin: 40px auto 0 auto;
    max-width: 480px;
}

.todos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.add-todo {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.add-todo input{
     display: block;
     font-size: 14px;
     flex: 1;
     line-height: 1;
     border: 0;
     outline: none;
     color: rgb(154, 76, 161);
}

.add-todo i {
    cursor: pointer;
    font-size: 16px;
    color: #c0c1c1;
}

.add-todo i:hover {
    color: #979e9e;
}